.buttonContainer {
  padding: 14px;
  text-align: right;
}
.vitalTableData {
  width: 100%;
  table tfoot {
    display: none !important;
  }
}
.vitalContainer {
  padding: 0 28px;
}
.paper {
  width: 100%;
  margin-right: 40px;
  margin-bottom: 40px;
}
.bgColor {
  background: #fff;
}
.conDivider {
  & > div {
    margin-bottom: 0;
  }
}
.showMoreDiv {
  text-align: center;
  width: 100%;
}
.showMoreButton {
  margin-bottom: 15px;
}
.recordedVitals {
  padding-left: 28px;
}
.bgColor table tr td,
.bgColor table tr th {
  padding: 4px 28px 4px 28px !important;
  text-align: center !important;
}
.timeDateHeader {
  width: 1000px !important;
  margin: 10px auto;
}
@media (max-width: 1024px) {
  .timeDateHeader {
    width: 700px !important;
    margin: 10px auto;
  }
}
