.svgIcon {
  font-size: 16px !important;
}

.plusIcon {
  font-size: 52px !important;
  width: 48px !important;
  height: 48px !important;
}

.crossIcon {
  font-size: 52px !important;
}

.noteIcon {
  font-size: 100px !important;
}

.clockIcon {
  font-size: 35px !important;
}

.plusBox {
  color: rgb(80, 10, 128);
  font-size: 41px !important;
}

.checkSquare {
  color: rgb(169, 162, 173);
  font-size: 41px !important;
}
