.icon {
  font-size: 36px !important;
  margin: auto;
  padding-right: 8px;
}

.left {
  margin-bottom: auto;
}
.right {
  margin: 14px;
}

.title {
  margin-bottom: 24px;
}

.button {
  max-width: 240px;
  margin-top: 24px !important;
}

.container {
  margin-right: 40px;
  margin-bottom: 40px;
}
