@import '../../../css/theme';

.icon {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.buttons {
  justify-content: flex-end;
}

.row {
  padding-top: 8px;
  padding-bottom: 8px;
}

.content {
  max-width: 230px;
  padding: 16px;
}

.container {
  color: $grey;
}
